/* Coolors Exported Palette - coolors.co/1f2421-216869-49a078-9cc5a1-dce1de */

/* HSL */
$color1: hsla(144%, 7%, 13%, 1);
$color2: hsla(181%, 52%, 27%, 1);
$color3: hsla(152%, 37%, 46%, 1);
$color4: hsla(127%, 26%, 69%, 1);
$color5: hsla(144%, 8%, 87%, 1);

/* RGB */
$color1: rgba(31, 36, 33, 1);
$color2: rgba(33, 104, 105, 1);
$color3: rgba(73, 160, 120, 1);
$color4: rgba(156, 197, 161, 1);
$color5: rgba(220, 225, 222, 1);